<!-- disabled after nav dropdown: https://github.com/mhwkb/mhwkb.github.io/pull/102
<div class="text-center">
  <h2>
  {% assign categories_list = site.categories %}
    {% if categories_list.first[0] == null %}
      {% for category in categories_list %}
        <li><a href="{{ site.url }}/category/{{ category[0] }}">{{ category | capitalize }} ({{ site.tags[category].size }})</a></li>
      {% endfor %}
    {% else %}
      {% for category in categories_list %}
        <a class="label label-danger" href="{{ site.url }}/category/{{ category[0] }}/">{{ category[0] }}</a>
      {% endfor %}
    {% endif %}
  {% assign categories_list = nil %}
  </h2>
</div>
-->
