<header class="site-header">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.url }}">
            <img alt="Brand" class="brand-img" src="{{ site.url }}/images/mhwkb_dharma_wheel_logo_180x170.png">
          </a>
          <a class="navbar-brand" href="{{ site.url }}">Mental Health Knowledge Base</a>
        </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
              <div id="languageSelector" class="navbar-btn bfh-selectbox bfh-languages" data-language="00_00"
                data-available="" data-flags="true" data-blank="false">
              </div>
          </li>
          <li><a href="{{ site.url }}/tag_cloud/"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Tag cloud</a></li>
          <li><a href="{{ site.url }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
          <li><a href="https://github.com/mhwkb/mhwkb.github.io#mhwkb"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About</a></li>
          <li><a href="{{ site.url }}/feed.xml"><i class="fa fa-rss"></i> RSS</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="text-center">
      <h1><img src="{{ site.url }}/images/mhwkb_dharma_wheel_logo_180x170.png" alt="mhwKB wheel of Dharma logo" width="180" height="170">Mental Health Knowledge Base</h1>
      {% include category_display.html %}
    </div>
  </div>
</header>
