<div class="panel panel-primary">
	<div class="panel-heading" style="background-color: #4040bf;">
            <p style="margin-top: 0; margin-bottom: 0;"><a style="font-size: 22px; color: white;" href="{{ page.href }}">{{ page.title }}</a></p>
    </div>

    <div class="panel-body" style="background-color: #d9d9d9;">

            {% for tag in page.tags %}
                <b><a id="tag" style="margin-top: 0; margin-bottom: 0; font-size: 15px;" class="tag" href="{{ site.url }}/{{ site.tag_page_dir }}/{{ tag | slugify: 'pretty' }}/">{{ tag }}</a></b>
            {% endfor %}
    </div>
</div>