<div class="panel panel-primary">
    <div class="panel-body">
        <div class="article-bottom">
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <p><span class="post-meta">{{ post.date | date: date_format }}</span></p>

            <p><a href="{{ post.href }}">{{ post.title }}</a></p>

            {% for tag in post.tags %}
                <a class="tag label label-danger" <a href="{{ site.url }}/{{ site.tag_page_dir }}/{{ tag | slugify: 'pretty' }}/">{{ tag }}</a>
            {% endfor %}
        </div>
    </div>
</div>
