---
layout: default
title: home
---
<div class="container">
  <div class="text-left">
    <h2>
      To explore the Knowledge Base, click a Language icon above. You may also read the following press release,
      which is one of the inspirations for this web site.
    </h2>
  </div>
  <div class="plaintext">
    <p>
      <a href="http://www.ohchr.org/EN/NewsEvents/Pages/DisplayNews.aspx?NewsID=21689&LangID=E">source: United Nations Human Rights - Office of the High Commissioner</a>
    </p>
  </div>
  <div class="box600">
    <h1>World needs “revolution” in mental health care – UN rights expert</h1>

    <div class="plaintext">
      <p>GENEVA (6 June 2017) – The United Nations Special Rapporteur on the right to health, Dainius Pūras, has called
          for a sea change in mental health care around the world, urging States and psychiatrists to act with
          courage to reform a crisis-hit system built on outdated attitudes. </p>
      <p>“We need little short of a revolution in mental health care to end decades of neglect, abuse and violence,”
          Mr. Pūras said after presenting
          <a href="http://ap.ohchr.org/documents/dpage_e.aspx?si=A/HRC/35/21">his latest report</a> to the UN Human Rights Council in Geneva.&nbsp; </p>
      <p>“Mental health is grossly neglected within health systems around the world.&nbsp; Where mental health systems
          exist, they are segregated from other healthcare and based on outdated practices that violate human rights.
          </p>
      <p>“I am calling on States to move away from traditional practices and thinking, and enable a long overdue shift
          to a rights-based approach. The status quo is simply unacceptable.” </p>
      <p>He added: “Mental health policies and services are in crisis - not a crisis of chemical imbalances, but of
          power imbalances. We need bold political commitments, urgent policy responses and immediate remedial
          action.” </p>
      <p>Mr. Pūras said there was a “grossly unmet” need for rights-based care and support. Progress was being hindered
          by huge power imbalances in the systems currently used in policymaking, service provision, medical education
          and research.&nbsp; Other major obstacles included the dominance of the biomedical model, with its overdependence
          on medication, and the “biased” use of evidence, which was contaminating knowledge about mental health.
          </p>
      <p>“There is now unequivocal evidence of the failures of a system that relies too heavily on the biomedical
          model of mental health services, including the front-line and excessive use of psychotropic medicines,
          and yet these models persist,” Mr. Pūras said. </p>
      <p>“This pattern occurs in countries across the national income spectrum.&nbsp; It represents a failure to integrate
          evidence and the voices of those most affected into policy, and a failure to respect, protect and fulfil
          the right to health.” </p>
      <p>In his report, Mr. Pūras warns that power and decision-making in mental health are concentrated in the hands
          of “biomedical gatekeepers”, particularly those representing biological psychiatry. </p>
      <p>These gatekeepers, supported by the pharmaceutical industry, maintain this power by adhering to two outdated
          concepts: that people experiencing mental distress and diagnosed with “mental disorders” are dangerous,
          and that biomedical interventions are medically necessary in many cases.&nbsp; </p>
      <p>“These concepts perpetuate stigma and discrimination, as well as the practices of coercion that remain widely
          accepted in mental health systems today,” underlined Mr. Pūras, calling for a “paradigm shift” to ensure
          compliance with the UN Convention on the Rights of Persons with Disabilities.&nbsp; </p>
      <p>“It is crucial now to assess the root causes of failure and to chart a way forward, reaching consensus on
          the best way to do this,” he said. </p>
      <p>“New ways of thinking need to permeate the public sector, and mental health must be integrated into the whole
          of public policy.&nbsp; We need bold action from within the corridors of power, specifically from within
          the psychiatric profession and its leadership,” the expert said. </p>
      <p>“Paternalistic and excessively medicalized concepts must give way to participatory, psychosocial care and
          support in the community. Cost-effective and inclusive options with successful outcomes do exist and
          are being used around the world today - they just need to be scaled up and maintained.” </p>
      <p>Mr. Pūras stressed that psychosocial distress would always be part of the human experience, particularly
          in the face of growing emergencies, inequalities and discrimination.
          <br> &nbsp;
          <br> The Special Rapporteur is an independent expert appointed by the UN Human Rights Council to help States,
          and others, promote and protect the right to the highest attainable standard of health (
          <a href="http://www.ohchr.org/EN/Issues/Health/Pages/SRRightHealthIndex.aspx">right to health</a>). Dainius Pūras (Lithuania) is a medical doctor with notable expertise on mental
          health, child health, and public health policies. He is a Professor and the Head of the Centre for Child
          psychiatry social paediatrics at Vilnius University, and teaches at the Faculty of Medicine, Institute
          of International relations and political science and Faculty of Philosophy of Vilnius University, Lithuania.
          </p>
      <p>The Special Rapporteurs are part of what is known as the
          <a href="http://www.ohchr.org/EN/HRBodies/SP/Pages/Welcomepage.aspx">Special Procedures</a>
          of the Human Rights Council. Special Procedures, the largest body of independent experts in the UN Human Rights system, is
          the general name of the Council’s independent fact-finding and monitoring mechanisms that address either
          specific country situations or thematic issues in all parts of the world. Special Procedures’ experts
          work on a voluntary basis; they are not UN staff and do not receive a salary for their work. They are
          independent from any government or organization and serve in their individual capacity. </p>
      <p>For further information and media requests, please contact Ms. Dolores Infante-Cañibano (+41 22 917 9768
          /
          <a href="mailto:dinfante@ohchr.org">dinfante@ohchr.org</a>) </p>
      <p>For
          <strong>media inquiries</strong> related to other UN independent experts:
          <br> Xabier Celaya, OHCHR Media Unit (+ 41 22 917 9383 /
          <a href="mailto:xcelaya@ohchr.org">xcelaya@ohchr.org</a>) </p>
      <p>Concerned about the world we live in?&nbsp;Then
          <strong> STAND UP for someone’s rights today. &nbsp;</strong>#Standup4humanrights and visit the web page at
          <a href="http://www.standup4humanrights.org/">http://www.standup4humanrights.org</a>
      </p>
    </div>
  </div>
</div>
<p></p>
